


.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/*nav style*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

#nav-title{
    font-weight: 800;
    font-size: 28px;
    color: #0D1321;
}

.btn-primary{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #3D424D;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #3D424D;
    padding: 17px 24px;
    
}

/*banner style*/

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 221px;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.banner img{
    width: 240px;
    height: 240px;
    margin-bottom: 32px;
}
.banner h1{
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    text-align: center;
    
}
.banner p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #3D424D;
    margin-bottom: 32px;
}
.btn-secondary{
    margin-top: 32px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 21px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    background-color: #0D1321;
    color: white;
    border: none;
}


/* main styles */

main{
    margin: 70px 150px 90px;
}

.section-first{
    background-color: #FAFAFB;
    padding: 70px 0 40px 0;
}
.part-1{
    text-align: center;
    margin: 0 135px 48px;
}

.part-1 h3{
    color: #0D1321;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 24px;
    
}

.part-1 p{
    color:#3D424D;
    font-weight: 400;
    font-size: 16px;
    
}

.part-2{
    display: flex;
    margin: 48px 100px;
    padding: 58px 45px;
    text-align: left;
    background-image: linear-gradient(to right, #FFF, #FAFAFB);
    border-radius: 12px;
}
#linear{
    padding: 58px 45px;
    background-image: linear-gradient(to right, #FAFAFB, #FFF);
    border-radius: 12px;
}
.part-2 img{
    height: 240px;
    width: 240px;
}
.box{
    
    margin-right: 98px;
}
.box h3{
    font-weight: 700;
    font-size: 24px;
    color: #555A63;
}
.box p{
    font-weight: 400;
    font-size: 16px;
    color: #3D424D;
}
.box-2{
    margin-left: 80px;
}
.box-2 h3{
    font-weight: 700;
    font-size: 24px;
    color: #555A63;
}
.box-2 p{
    font-weight: 400;
    font-size: 16px;
    color: #3D424D;
}
.btn{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #555A63;
    border: 0.5px solid #555A63;
    padding: 12px 20px;
    margin-top: 32px;
}


/* section-second styles*/

.section-second{
    margin-top: 53px;
    text-align: center;
}

.section-second h2{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}

.section-second p{
    margin: 24px 140px 48px;
    font-weight: 400;
    font-size: 16px;
    color: #555A63;
}

.section-second img{
    margin: 25px 0 60px;
    width: 800px;
    height: 400px;
    border-radius: 16px;
}


/* section-third styles */

.text-align{
    text-align: center;
}

.section-third h2{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
}

.third{
    margin: 24px 140px 48px;
    font-weight: 400;
    font-size: 16px;
    color: #555A63;
}

.section-third-card{
    
    display: flex;
    gap: 25px;
}
.card{
    padding: 40px;
}
.card-1{
    
    background-color: #FFF6F4;
}
.card-2{
    
    background-color: #F2F6FE;
}
.card-3{
    
    background-color: #FFFDF2;
}

/* section-fourth styles */

.section-fourth-bg{
    background-image: url("../assets/handshake.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* width: 1140px;
    height: 400px; */
    background-color: black;
    border-radius: 16px;
}
.section-fourth-bg h2{
    padding-top: 64px;
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
}

.section-fourth-bg p{
    
    margin: 16px 267px;
    font-weight: 400;
    font-size: 16px;
    color: #B7B6B5;
}
.section-fourth-input{
    margin-top: 24px;
    padding-bottom: 64px;
    
}
.section-fourth-input input{
    margin-left: 200px;
    width: 500px;
    height: 55px;
    border-radius: 8px;
    border: none;
    
}
.section-fourth-input button{
    width: 120px;
    height: 55px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    border: none;
}


/* footer styles */

.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding-bottom: 60px;
}
.footer-content h3{
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
    margin-top: 38px;
    margin-left: 150px;
}
.social-media{
    margin-top: 10px;
    margin-right: 150px;
}
.social-media ul{
    display: flex;
    list-style: none;

}
.social-media ul li{
    margin-right: 24px;
    
}